html * {
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
}

/* TEMPLATE */
nav.top-navigation-bar{
    color: white;
    position: relative;
    height:5% !important;
    background-color: #333;
}
nav a{
    text-decoration: none;
    color: inherit;
}
nav ul a:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.navbar-brand:hover{
    text-decoration: none !important;
}
.nav-sign{
    position: relative;
    display: inline-block;
}
.my-container {
    position: relative;
    height: 92%;
    padding: 0 !important;
    margin: 0 !important;
    background-color:  gainsboro;
}
.my-container__top{
    position: relative;
    height: 10%;
}
.last-and-to-person{
    top:30%;
}
.last-and-to-person a{
    padding-right: 2%;
    color:black;
    text-decoration: none;
}
.last-and-to-person a:hover{
    color: black; 
    font-weight:bold;  
    text-decoration: none;
}
.my-container__bottom{
    height: 90%;
}
.my-container-content{
    height: 90%;
    position:relative;
    padding: 0 !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    
}
.left-navigation-bar{
    position: relative;
    padding-left: 16px !important;
    float: left;
}
.left-navigation-bar ul{
    padding-left: 0% !important;
}
.left-navigation-bar li{
    list-style-type: none;
    padding-bottom: 50%;
}
.left-navigation-bar li a{
    text-decoration: none;
    color: black;
    border-bottom:1px solid black;
}.left-navigation-bar li a:hover{
    color:black;
    font-weight: bold;
}
footer{
    position: relative;
    background-color: #333;
    height: 3% !important;
}

/* TEMPLATE */

/* LANDING PAGE */
.landing-my-container {
    height: 92%;
    padding: 0 !important;
    position: relative;
}
.theme::before
{
    background-color:white;
    display: block;
    position: absolute;
    height: 100% !important;
    width: 100%;
    top:0;
    left:0;
    z-index: 0;
    content:"";
    opacity: 0.5;
}
.theme
{
    z-index: 1;
    position: relative;
    height: 55% !important;
    background-image: url(/css/images/financeComp.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.theme__block
{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.theme__block-motto
{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}
.bottom
{
    background-color:  gainsboro;
    height: 45%;  
}
.bottom__block
{
    height: 100%;
    position: relative;
}
.block__icon
{
    height: 60%;
    position: relative;
}
.block__icon-image
{
    height:60%;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
}
.block__text
{
    height: 40%;
    display: block;
    text-align: center;
}
/* LANDING PAGE */

/* SUMMARY */
.last-debts-block{
    position: relative;
    padding-right: 6%;
    padding-left: 3%;
}
.last-debts-block > div{
    position: relative;
    padding-bottom: 1rem;
    height:50%;
}
.last-debts-block  h4{
    height: 15%;
    padding-top: 15px;
}
.last-debts-block > div > div{
    position: relative;
    height:85%;
}
/* SUMMARY */

/* Borrowed and Lent*/
.highlighted{
    font-weight: bolder;
}
#borrowedDebtsContainer{
    position: relative;
    height:85%;
}
#borrowedDebtsContainer table{
}