html * {
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh;
}
/* TEMPLATE */
nav.top-navigation-bar{
    position: relative;
    height:5% !important;
    background: -webkit-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: -o-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: -ms-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: -moz-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: linear-gradient(67deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);

}
nav a{
    text-decoration: none;
    color: inherit;
}
nav ul a:hover{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.navbar-brand:hover{
    text-decoration: none !important;
}
.nav-sign a:last-child{
}   
.nav-sign a{
}
.nav-sign{
    position: relative;
    display: inline-block;
}
.my-container {
    position: relative;
    height: 92%;
    padding: 0 !important;
    margin: 0 !important;
}
.my-container-content{
    height: 90%;
    position:relative;
    padding: 0 !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    
}
.left-navigation-bar{
    position: relative;
    margin-top: 5%;
    padding-left: 16px !important;
    float: left;
}
.left-navigation-bar ul{
    padding-left: 0% !important;
}
.left-navigation-bar li{
    list-style-type: none;
    padding-bottom: 50%;
}
.left-navigation-bar li a{
    text-decoration: none;
    color: black;
    border-bottom:1px solid black;
}.left-navigation-bar li a:hover{
    color:black;
    font-weight: bold;
}
footer{
    position: relative;
    background: -webkit-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: -o-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: -ms-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: -moz-linear-gradient(23deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    background: linear-gradient(67deg, rgb(182, 178, 177) 0%, rgb(211, 211, 213) 97%, rgb(216, 216, 218) 100%);
    height: 3% !important;
}
/* TEMPLATE */

/* LANDING PAGE */
.landing-my-container {
    height: 92%;
    padding: 0 !important;
    position: relative;
}
.theme::before
{
    background-color:white;
    display: block;
    position: absolute;
    height: 100% !important;
    width: 100%;
    top:0;
    left:0;
    z-index: 0;
    content:"";
    opacity: 0.5;
}
.theme
{
    z-index: 1;
    position: relative;
    height: 55% !important;
    background-image: url(/css/images/financeComp.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.theme__block
{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.theme__block-motto
{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}
.bottom
{
    background-color:  gainsboro;
    height: 45%;  
}
.bottom__block
{
    height: 100%;
    position: relative;
}
.block__icon
{
    height: 60%;
    position: relative;
}
.block__icon-image
{
    height:60%;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
}
.block__text
{
    height: 40%;
    display: block;
    text-align: center;
}
/* LANDING PAGE */

/* SUMMARY */

.statistics-block{
    position: relative;
}
.statistics-block-content{
    position: relative;
    top:50%;
    height:50%;
    font-size: 12px;
}
.statistics-block-content h3{
    padding-top: 15px;
}
.statistics-block-content label{
    height: 10%;
    display: block;
}
.last-debts-block{
    position: relative;
    padding-right: 6% !important;
    padding-left: 3% !important
}
.last-debts-block > div{
    position: relative;
    height:50%;
}
.last-debts-block  h4{
    height: 15%;
    padding-top: 15px;
    margin: 0%;
}
.last-debts-block > div > div{
    position: relative;
    height:85%;
}
/* SUMMARY */